*{
  /* font-family: 'Montserrat'; */
  margin: 0;
  box-sizing: border-box;
  transition: all .15s ease;
}
body {
  /* border: .1rem solid turquoise; */
  padding: 1rem;
  background-color: var(--background);
  color: var(--color-primary);
  height: 100vh;
}

header {
  /* your code */
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}

main {
  /* your code */
  margin-top: 10px;
  display: inline-flex;
  
}
main nav {
  /* border: .1rem solid purple; */
  padding: 1rem;
  /* your code */
  display: flex;
  flex-direction: column;
}
main a {
  width: 5rem;
  border: .1rem solid var(--color-secondary);
  text-align: center;
  margin: .5rem 0rem;
}

.dog-list-container {
  /* your code */
  display:grid;
  grid-template-columns: auto auto auto;
}

/* edit */

/* store dark and light colors */

:root {
  --color-primary: #37474f;
  --color-secondary: #dee4e7;
  --background: #FFFFFF;
}

.darkmode {
  --color-primary: #FFFFFF;
  --color-secondary: #facefa;
  --background: rgb(18, 17, 17);
}


.darkModeToggle {
  background: transparent;
  outline: none;
}

body::-webkit-scrollbar {
  display: none;
}

body.darkmode .fa-sun {
  display: none;
}

body.darkmode .fa-moon {
  display: block;
}

.fa-moon {
  display: none;
}

button {
  font-size: 30px;
  border: none;
  width: 60px;
  height: 60px;
  background: transparent;
  /* background: #37474f; */
  color: var(--color-primary);
  border-radius: 50%;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  bottom: 450px;
}

button:hover {
  color: #dee4e7;
}

/* edit */

.fluid-text {
  font-size: 2rem;
}

.desktop-nav {
  display:block;
}

.single-dog-card {
  padding: 1rem;
  max-width: 20rem;
  border: 2px solid var(--color-secondary);
  border-radius: 1rem;
  margin: 1rem;
}

.single-dog-card img {
  width: 15rem;
  display: block;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
